body{
    margin: 0;
    padding: 0px;
    /* height: 100vh;*/
     /* border: 10px dotted red;  */
}
.outer_face_line{
    width:auto;
    height:96%;
    margin-left: 520px;
    margin-right: 520px;
    border-radius: 40px;
    border-style: dashed;
    border-width: 5px;
    border-color: red;
}

.face_section{
    width: auto;
    height: 30%;  
}

.eyes{
    width: 29%;
    height: 100%;
    float: left;
    border-style: dashed;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-left: 60px;
    border-radius: 400px;
}

.nose{
    width: 15%;
    height: 100%;
    border-style: dashed;
    border-width: 5px;
    border-color: red;
    margin-left: 193px;
    border-radius: 20px;
}

.mouth{
    width: 70%;
    height: 70%;
    border-style: dashed;
    border-width: 5px;
    border-color: red;
    margin-left: 65px;
    margin-top: 20px;
    border-radius: 20px;
}

.second_div{
    margin: 0;
    padding: 0;
    width: inherit;
    position: absolute;
    top: 30vh;
    height: 70vh;
}

.outer_face_line2{
    position: absolute;
    height: 100px;
    width: 63%;
    /* background-color: rgba(137, 43, 226, 0.642); */
    transform: rotate(25deg);
    left: 200px;
    top: 210px;
    border: 5px dashed red;
    border-radius: 75px;
}
.outer_face_line3{
    position: absolute;
    height: 100px;
    width: 63%;
    /* background-color: rgba(137, 43, 226, 0.642); */
    transform: rotate(155deg);
    right: 200px;
    top: 210px;
    border: 5px dashed red;
    border-radius: 75px;
}

.intro{
    border : 5px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    border-left-width: 10px;
    border-right-width: 10px;   
}

.groove-border-box{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: border-box;
}

.groove-border-box-black{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: border-box;
}

.dotted-border-box{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: border-box;
}

.dotted-border-box-black{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: border-box;
}

.dashed-border-box{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: border-box;
}

.dashed-border-box-black{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: border-box;
}

.groove-padding-box{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: padding-box;
}

.groove-padding-box-black{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: padding-box;
}


.dotted-padding-box{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: padding-box;
}

.dotted-padding-box-black{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: padding-box;
}

.dashed-padding-box{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: padding-box;
}

.dashed-padding-box-black{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: padding-box;
}

.groove-content-box{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip :content-box;
}

.groove-content-box-black{
    border : 15px groove blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip :content-box;
}


.dotted-content-box{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: content-box;
}

.dotted-content-box-black{
    border : 15px dotted blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: content-box;
}

.dashed-content-box{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: url(../anime/img/stage.jpg);
    color: white;
    background-clip: content-box;
}

.dashed-content-box-black{
    border : 15px dashed blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
    background-clip: content-box;
    
}

.inline1{
    display :inline-block;
    height: 150px;  
    margin-bottom: 20px;
    margin-left: 150px;
}

#div1{
    border : 5px solid red;
    height : inherit;
    width: 150px;
    border-radius: 50%;
    float: left;
}

#div2{
    border : 5px solid red;
    height : inherit;
    width: 150px;
    border-radius: 25%;
    margin-left: 10px;
    float: left;
}

#div3{
    border : 5px solid red;
    height : inherit;
    width: 150px;
    border-radius: 100% 0% 100% 0% ;
    margin-left: 10px;
    float: left;
}

#div4{
    border : 5px solid red;
    height : inherit;
    width: 150px;
    border-radius: 0% 100% 0% 100% ;
    margin-left: 10px;
    float: left;  
}

#div5{
    border : 5px solid red;
    height : inherit;
    width: 150px;
    border-radius: 0% 100% 0% 0% ;
    margin-left: 10px;
    float: left;  
    border-left-color: blue;
    border-bottom-color: yellow;
    border-right-color: yellowgreen;
}


#div6{
    margin-left: 10px;
    border: 159px solid rgba(83, 179, 101, 0.475);
    border-top: 0;
    border-left: 60px  solid transparent;
    border-right: 60px solid transparent;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 50%;
    float: left;  
}

#div7{
    margin-left: 10px;
    border: 159px solid transparent;
    border-top: 0;
    border-bottom: 159px solid transparent;
    border-left: 60px  solid transparent;
    border-right: 110px solid black;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 50%;
    float: left;  
}



