*{
    margin: 0;
    padding: 0;
}


.header{
    min-height: 100vh;
    width: 100%;
    /* background: url(https://source.unsplash.com/koYklSUjAXc/2400x1823); */
    /* background-color: black; */
    /* background: url(./img/banner.png); */
    background-position: center;  
    background-size: 100% 100%;
    position: relative;
}

.nav{
    display: flex;
    float: left;
}

body{
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://media.istockphoto.com/id/1349030917/photo/business-and-finance-looking-up-at-high-rise-office-buildings-in-the-financial-district-of-a.jpg?b=1&s=170667a&w=0&k=20&c=7Fuy8UINmdn1PCeZ8cv27YN9eX4SrgkUjCeuKDGd9pA=);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



nav{
    /* margin-top: px; */
    position: fixed;
    display: flex;
    padding: 1% 4%;
    width: 90.8vw;
    /* justify-content: space-between; */
    align-items: center;
    backdrop-filter: blur(8px) saturate(100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.818), 2px 2px 25px rgba(226, 221, 221, 0.253);
    border: 1px solid rgba(125, 119, 119, 0.737);
}

nav p{
    width: fit-content;
    font-size: 30px;
    color: #fff;
}



nav a img{
    top: 0;
    height: 50px;
    width: 80px;
    float: left;
}

.nav-links{
    margin-left: 880px;
}

.nav-links ul li{
    
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    /* text-decoration-color:rgba(201, 106, 106, 0.818); */
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
}

.line{
    width: 100vw;
    border: 1px solid #ffffff46;
    position : absolute;
    top: 80px;

}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(125, 119, 119, 0.737);
    border-radius: 20px;
    /* background: rgba(201, 109, 109, 0.395); */
    box-shadow: 0 0 5px rgba(201, 106, 106, 0.818), 2px 2px 5px rgba(40, 37, 37, 0.818);
    backdrop-filter: blur(3px) saturate(100%);
    padding: 12px 34px;
    font-size: 13px;
    background: #ffffff0c;
    position: relative;
    cursor: pointer;
}

.chat {
    position: fixed;
    top : 78.5%;
    left: 89.9%;
    /* background-color: aqua; */
    width: fit-content;
    height: fit-content;
    
}

.chat img{
    
    width: 150px;
    height: 150px;
    backdrop-filter: blur(3px) saturate(100%);
    background-color: #ffffff0c;
    box-shadow: r0 0 5px rgba(201, 106, 106, 0.818), 2px 2px 5px rgba(40, 37, 37, 0.818);  
    border: 1px solid rgba(125, 119, 119, 0.737); 
    border-radius: 25%;

    /* background-color: aqua; */
}

/* .position{
    position: absolute;
    height: 150px;
    padding: 35px;
    width: 150px;
    top: 4px;
    left: px;    
    color: rgba(251, 251, 255, 0.43);
    border: 1px solid rgba(125, 119, 119, 0.737);
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.395) ;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25); */
  /*  box-shadow: 0 0 5px rgba(15, 15, 15, 0.818), 2px 2px 5px rgba(40, 37, 37, 0.818);

    backdrop-filter: blur(7px) saturate(100%);
} */

