*{
    margin : 0;
    padding: 0;
}
.container{
    width: 800px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 40px;
    margin: 60px auto;
    display:inline-block;
    padding: 20px;
}

.c1{
    background-color: aqua;
    width: 50%;
    z-index: 1;
    height: 400px;
    float : left;
    transition: float 1s;
}

.c1:hover{
    float: right;
    /* order : 1 !important; */
}

.c2{
    background-color: bisque;
    width: 50%;
    float: left;
    height: 400px;
    z-index: 0;
    order : 1;
}

